//-
//- Copyright (C) 2015 by Looker Data Services, Inc.
//- All rights reserved.
//-

html(ng-app="app")
    head
        title My Sample App
        link(rel="stylesheet" type="text/css" href="/main.css")
        link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")

    body
        .content
          forum


        script(src="/external.js")
        script(src="/internal.js")
